.header__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header__container h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--text-dark);
  text-align: center;
}

.header__container h1 span {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

.header__content P {
  text-align: center;
}

.header__content .all-icons {
  font-size: 1.3rem;
  gap: 1.5rem;
  margin-top: 1rem;
}

.header__content .icon {
  color: var(--subtitle);
}
.header__content .all-icons .icon:hover {
  cursor: pointer;
  scale: 1.1;
  color: var(--icon-hover);
}

.header__image {
  height: 100%;
}

.header__image img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

@media (width > 768px) {
  .header__container {
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    isolation: isolate;
  }

  .header__content {
    position: relative;
    padding-bottom: 10rem;
  }

  .header__content :is(h1, p) {
    text-align: left;
  }

  .header__container h1 {
    font-size: 4rem;
  }
}
